<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>TabiRaku</title>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!--google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <!--style.css-->
    <link rel="stylesheet" href="style.css">
    
    <!--favicon/アイコン-->
    <link rel="icon" href="/favicon2.ico">
    <script src="https://kit.fontawesome.com/1c80078f58.js" crossorigin="anonymous"></script>
        <!--スマホサイト用viewport-->
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
  
<body>
<div id="wrapper" class="all">
 <div class="pt-2" >
          <header>
            <div class="picture">
                <img  src="logo.png" alt="logo" title="logo">
                </img>
            </div>
          </header>
          <main>
           <div class="question">
               <form action="/q1who" method="post">
                 <p>Q1この旅の企画者は？
                 <input type="text" name="trip_planner"  class="form-control mx-auto" style="width: 30%; "></p>
               
                  <input type="button" class="btn btn--orange btn--radius" onclick="history.back()" value="戻る">
                  <input type="submit" class="btn btn--orange btn--radius" value="次へ！">
                </form>
            </div>
           </main>
 </div>
     <footer class="bg-dark text-white"  >
      <div>© 2022 TsuboTsubo</div>
    </footer>
</div>
</body>    
</html>